# Required. S3 bucket name where the logs shipped from WPVIP are stored
AWS_S3_BUCKET=my-bucket-name

# Required. AWS Region where the S3 bucket is located
AWS_S3_REGION=us-east-1

# Required. S3 prefix (folder path) for the logs to be processed
AWS_S3_PREFIX=application-name/environment/

# Optional. Whether to delete processed files from the original bucket. Default is false.
AWS_S3_DELETE=false

# Optional. Whether or not to watch for new files. Default is true. Disabling this option causes the input to close itself after processing the files from a single listing.
AWS_S3_WATCH=true

# Optional. AWS Profile to use. If not specified, the default profile will be used.
AWS_PROFILE=default

# Optional. Local directory to backup processed S3 files. If not specified, it will use the ./logs directory.
AWS_S3_LOCAL_BACKUP_DIR=./logs
